.header {
    background-color: darkcyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.header > svg {
    display: none;
}

@media (max-width: 580px) {
    .header > svg {
        display: block;
        font-size:  30px;
        cursor: pointer;
        color: white;
    }
}