.modal {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal > div {
    background-color: rgba(146, 161, 52, 1);
    color: white;
    border-radius: 20px;
    padding: 30px;
    position: relative;
    width: 550px;
}

.modal > div svg {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}